
.header{
    padding: 0;
    display: flex;
    position: fixed;
    top: 0;
    height: 50px;
    width: 100%;
    background-color: antiquewhite;
    justify-content: space-between;
    align-items: center;
}

.ul{
    margin: 0;
    list-style: none;
    text-decoration: none;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.ul li{
    height: 100%;
    width: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.ul li:hover{
    background-color: rgba(239, 225, 209, 0.845);
}

.ul .active{
    background-color: rgb(231, 209, 184);
}

.ul li a{
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    color: black;
    text-decoration: none;
}


.header button{
    background-color: transparent;
    border: 0;
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    color: black;
    margin-right: 1em;
    cursor: pointer;
    width: 80px;
    height: 40px;
    
}

.header button:hover{
    border-radius: 5px;
    border: 2px solid #00000061;
}

.header button:active{
    background-color: rgb(231, 209, 184);
}
