<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/css/home.css">
    <link rel="stylesheet" href="/css/partials/navbar.css">
</head>
<body>

    {{> navbar }}

    <main>
        <section class="section-post" id="sectionPost">
            
            <!--<article class="article">
                
                <div class="article-image_container">
                    <img src="" alt="" class="img-post">
                </div>
                <div class="article-info_container">
                    <h2>Mi primer post</h2>
                    <p>mi primer post</p>
                </div>
                <hr width="90%">
                <div class="article-author-container">
                    <div class="author-info">
                        <img src="" alt="" class="author-image">
                        <p class="author-name"></p>
                    </div>
                </div>
            </article>-->  

        </section>
    </main>

    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <script src="/libraries/moment.js"></script>
    <script type="module" src="/js/home.js"></script>
</body>
</html>